<section class="download">
    <div class="container">
        <div>
            <img src="~/Images/Home/Download/iPhone 12 Pro.svg" alt="picture of a mobile layout">
            <img id="img-phone" src="~/Images/Home/Download/Change This.svg" alt="picture of a mobile layout">
        </div>

        <div class="gridcontent">
            <h4>Download Our App for Any Devices:</h4>
            <div class="grid">
                <div class="grid-item">
                    <p>App Store</p>
                    <i class="fa-solid fa-star"></i>
                    <h6>Editor's Choice</h6>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="~/Images/Home/Download/appstore.svg" alt="Picture to app-store"></a>
                </div>
                <div class="grid-item">
                    <p>Google Play</p>
                    <i class="fa-solid fa-star"></i>
                    <h6>App of the Day</h6>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>

                <div class="grid-item">
                    <a href="#"><img src="~/Images/Home/Download/googleplay.svg" alt="Picture to google play"></a>
                </div>
            </div>

        </div>
    </div>
</section>