<section class="manage-work">
    <div class="container">
        <div>
            <img src="~/Images/Home/ManageWork/image.svg" alt="Picture of design layout">
        </div>
        <div>
            <h5>Manage Your Work</h5>
            <i class="fa-regular fa-circle-check"></i> <p>Powerful project management</p>
            <i class="fa-regular fa-circle-check"></i> <p>Transparent work management</p>
            <i class="fa-regular fa-circle-check"></i> <p>Manage work & focus on the most important tasks</p>
            <i class="fa-regular fa-circle-check"></i> <p>Track your progress with interactive charts</p>
            <i class="fa-regular fa-circle-check"></i> <p>Easiest way to track time spent on tasks</p>
            <a class="btn-theme" asp-action="Index" asp-controller="Home"><i class="fa-solid fa-arrow-right"></i><span>Learn more</span></a>

        </div>
    </div>
</section>