<section class="subscribe">

    <div class="container">
        <div class="subscribeTitle">
            <h4>Don't Want to Miss Anything?</h4>
            <img src="~/Images/Home/Symbols/Group.svg" alt="arrow pointing down">
        </div>

        <div class="small-grid">
            <p id="signUp">Sign up for Newsletters</p>

            <div class="small-box">
                <input type="checkbox">
                <p>Daily Newsletter</p>
            </div>
            <div class="small-box">
                <input type="checkbox">
                <p>Event Updates</p>
            </div>
            <div class="small-box">
                <input type="checkbox">
                <p>Advertising Updates</p>
            </div>
            <div class="small-box">
                <input type="checkbox">
                <p>Startups Weekly</p>
            </div>
            <div class="small-box">
                <input type="checkbox">
                <p>Week in Review</p>
            </div>
            <div class="small-box">
                <input type="checkbox">
                <p>Podcasts</p>
            </div>
        </div>

        <div class="input">
            <input type="text" placeholder="Email-adress...">
            <a class="btn-theme" href="#"><span>subscribe *</span></a>
            <p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>privacy policy.</p>
        </div>

    </div>





</section>