<section class="searchBar">
    <div class="container">
        <h1>Courses</h1>

        <div class="searchfield">

            <div class="dropdown">
                <button onclick="myFunction(onclick)" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                    <a asp-action="#Manage" asp-controller="Home">About</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>
            <div>
                <input type="text" placeholder="Search...">
            </div>
        </div>


    </div>

</section>