
<section class="SigninTilte">
    <div class="container">

        <div>
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? Sign up <a href="#">here</a>.</p>
        </div>
    </div>
</section>

<section class="signinform">

    <div class="container">
        <form action="" method="post">

            <div class="logIn">
                <div>
                    <label for="uname"><b>Username</b></label>
                </div>
                <input type="text" placeholder="Enter Username" name="uname" required>
            </div>

            <div class="logIn">
                <div>
                    <label for="psw"><b>Password</b></label>
                </div>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>

            <div id="remember">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </div>

            <div class="signinbtn">
                <a class="btn-theme" href="#"><span>Log in</span></a>
                <a class="btn-theme" asp-controller="Home" asp-action="Index"><span>Cancel</span></a>
            </div>

            <div>

                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>



</section>