<section class="tabMenu">
    <div class="container">

        <div class="tab">
            <img src="~/images/Account/kattbild.svg" alt="ProfilePicture" />

            <button class="tablinks" onclick="openAccount(event, 'MyAccount')"><i class="fa-solid fa-gear"></i>My account </button>
            <button class="tablinks" onclick="openAccount(event, 'Signout')"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign out</button>
        </div>

        <div id="MyAccount" class="tabcontent">
            <div class="title">
                <h2>Account Details</h2>
                <p>Basic Info</p>
            </div>
            <section class="formInput">

                <form action="" method="">
                    <div class="forminfo">
                        <div class="firstname">
                            <div>
                                <label for="fname">First Name</label>
                            </div>
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        </div>

                        <div class="lastname">
                            <div>
                                <label for="lname">Last Name</label>
                            </div>
                            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                        </div>
                        <div class="email">
                            <div>
                                <label for="email">Email</label>
                            </div>
                            <input type="text" id="email" name="email" placeholder="your email-adress..">

                        </div>
                        <div class="phonenumer">
                            <div>
                                <label for="phone">Phone number</label>
                            </div>
                            <input type="text" id="phone" name="phone" placeholder="Your phone number..">

                        </div>


                        <div class="Bio">
                            <div>
                                <label for="Bio">Bio (optional)</label>
                            </div>
                            <textarea id="bio" name="bio" placeholder="Write something about yourself.."></textarea>

                        </div>
                    </div>

                    <div class="btn">
                        <div>
                            <button class="btn-theme" type="submit">Cancel</button>
                        </div>
                        <div>
                            <button class="btn-theme" type="submit">Save Changes</button>
                        </div>
                    </div>

                    <div class="Adressform">
                        <div class="AdressInfo">

                            <div class="Adress1">
                                <div>
                                    <label for="adress">Adress line 1</label>
                                </div>
                                <input type="text" id="adress1" name="Adress1" placeholder="Enter your adress...">

                            </div>

                            <div class="Adress2">
                                <div>
                                    <label for="adress">Adress Line 2</label>
                                </div>
                                <input type="text" id="adress2" name="Adress2" placeholder="Enter you adress...">

                            </div>

                            <div class="Postal">
                                <div>
                                    <label for="postal">Postal code</label>
                                </div>
                                <input type="text" id="postalCode" name="postal" placeholder="Your Postal Code...">

                            </div>

                            <div class="City">
                                <div>
                                    <label for="city">City</label>
                                </div>
                                <input type="text" id="CityName" name="City" placeholder="Enter your city...">

                            </div>

                        </div>

                        <div class="btn">
                            <div>
                                <button class="btn-theme" type="submit">Cancel</button>
                            </div>
                            <div>
                                <button class="btn-theme" type="submit">Save Changes</button>
                            </div>
                        </div>

                    </div>


                </form>
            </section>

        </div>

        <div id="Signout" class="tabcontent signoutcontent">
            <h2>Sign out</h2>
            <p>Swing by for a cup of coffee, or leave us a message:</p>
        </div>
    </div>
</section>
